<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APP</title>
</head>
<style>
    img {

        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        padding-bottom: 30px;
    }

    .box2 input[type="submit"] {
        cursor: pointer;
        background: skyblue;
        color: black;
        margin-bottom: 0;
    }

    .box2 form {
        padding: 20px;
    }
</style>

<body>
    <img src={{ url_for('static',filename='./homepage.png' ) }} />
    <center>
        <h3 style="color:teal;">Welcome to MongoDB Flask CRUD App!</h3></b>
    </center><br />
    <div class="box2">
        <form action="/add">
            <center><input type="submit" value="Create" style="height:30px;width:100px" />
        </form>
        <form action="/read">
            <center><input type="submit" value="Read" style="height:30px;width:100px" />
        </form>
        <form action="/upd">
            <center><input type="submit" value="Update" style="height:30px;width:100px" />
        </form>
        <form action="/del">
            <center><input type="submit" value="Delete" style="height:30px;width:100px" />
        </form>
    </div>
</body>

</html>